@model callcenter.modal.JobInfo
@{
    Layout = null;
    ViewBag.Title = "受理中";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="@Url.Content("~/ContentV2/CSS/Main_new.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/ContentV2/JS/JQuery-1.9.1.min.js")"></script>
</head>
<body class="body_content">
        <div class="div_oms_tab">
            <input name="StatusNew" id="StatusNew" type="hidden" value="@Model.Status" />
            @{if (Convert.ToInt16(ViewData["UrlStatus"]) == 0)
            {
                <div class='div_oms_tab_item_left_a' id="tab_01" onclick="javascript:location.href=' @Url.Action("JobIndex", "Default", new { JobType = @ViewData["JobType"], UrlStatus = 0 })';">受理中</div>
                <div class='div_oms_tab_item_right_a'></div>
            }
            else
            {
                <div class='div_oms_tab_item_left' id="tab_01" onclick="javascript:location.href=' @Url.Action("JobIndex", "Default", new { JobType = @ViewData["JobType"], UrlStatus = 0 })';">受理中</div>
                <div class='div_oms_tab_item_right'></div>
            }}

            @{if (Convert.ToInt16(ViewData["UrlStatus"]) == 1)
            {
                <div class='div_oms_tab_item_left_a' id="tab_02" onclick="javascript:location.href=' @Url.Action("JobIndex", "Default", new { JobType = @ViewData["JobType"], UrlStatus = 1 })';">处理完毕</div>
                <div class='div_oms_tab_item_right_a'></div>
            }
            else
            {
                <div class='div_oms_tab_item_left' id="tab_02" onclick="javascript:location.href=' @Url.Action("JobIndex", "Default", new { JobType = @ViewData["JobType"], UrlStatus = 1 })';">处理完毕</div>
                <div class='div_oms_tab_item_right'></div>
            }}

            @{if (Convert.ToInt16(ViewData["UrlStatus"]) == 3)
            {
                <div class="div_oms_tab_item_left_a" id="tab_03" onclick="javascript:location.href='@Url.Action("JobIndex", "Default", new { JobType = @ViewData["JobType"], UrlStatus = 3 })';">错误</div>
                <div class="div_oms_tab_item_right_a"></div>
            }
            else
            {
                <div class="div_oms_tab_item_left" id="tab_03" onclick="javascript:location.href='@Url.Action("JobIndex", "Default", new { JobType = @ViewData["JobType"], UrlStatus = 3 })';">错误</div>
                <div class="div_oms_tab_item_right"></div>
            }}

            @{if (Convert.ToInt16(ViewData["UrlStatus"]) == -1)
            {
                <div class="div_oms_tab_item_left_a" id="tab_04" onclick="javascript:location.href='@Url.Action("JobIndex", "Default", new { JobType = @ViewData["JobType"], UrlStatus = -1 })';">全部</div>
                <div class="div_oms_tab_item_right_a"></div>
            }
            else
            {
                <div class="div_oms_tab_item_left" id="tab_04" onclick="javascript:location.href='@Url.Action("JobIndex", "Default", new { JobType = @ViewData["JobType"], UrlStatus = -1 })';">全部</div>
                <div class="div_oms_tab_item_right"></div>
            }}
            <div class="div_oms_list_operator">

            </div>
        </div>
    <form id="WaitAcceptEditForm" method="post" enctype="multipart/form-data">
        @Html.HiddenFor(r => r.ID)
        @Html.HiddenFor(r => r.JobType)
        <div class="line_top"></div>
        <div class="line_center">
            <div class="div_detail_title">填写提交信息</div>
            <table cellpadding="0" cellspacing="0" class="table_detail">
                <tr>
                    <td class="td_detail_01">姓名</td>
                    <td class="td_detail_02">
                        @Model.UserName
                    </td>
                    <td class="td_detail_01">身份证号</td>
                    <td class="td_detail_02">
                        @Model.IdentityCard
                    </td>
                </tr>
                <tr>
                    <td class="td_detail_01">手机号</td>
                    <td class="td_detail_02">
                        @Model.MobilePhone
                    </td>
                    <td class="td_detail_01">渠道</td>
                    <td class="td_detail_02">
                        @Model.ChannelCustomer
                    </td>
                </tr>
                @if (Convert.ToInt16(@ViewData["JobType"]) == 0)
                {
                    <tr>
                        <td class="td_detail_01">地区</td>
                        <td class="td_detail_02">
                            @Model.Area
                        </td>
                        <td class="td_detail_01">详细地址</td>
                        <td class="td_detail_02">
                            @Model.Address
                        </td>
                    </tr>
                }

                @if (Convert.ToInt16(@ViewData["JobType"]) == 0 || Convert.ToInt16(@ViewData["JobType"]) == 3)
                {
                    if (!string.IsNullOrWhiteSpace(@Model.Image1))
                    {
                        <tr>
                            <td class="td_detail_01">图片附件1</td>
                            <td class="td_detail_02" colspan="3">
                                <div class="imgemp">
                                    <div class="democss">
                                        <img id="img1" src='~/pics/@Model.Image1' class="img_emp_photo" onload="AutoResizeImage(100,100,this)" />
                                    </div>
                                    <div id="eImages1" class="eImages"></div>
                                </div>
                            </td>
                        </tr>
                    }
                    if (!string.IsNullOrWhiteSpace(@Model.Image2))
                    {
                        <tr>
                            <td class="td_detail_01">图片附件2</td>
                            <td class="td_detail_02" colspan="3">
                                <div class="imgemp">
                                    <div class="democss">
                                        <img id="img2" src='~/pics/@Model.Image2' class="img_emp_photo" onload="AutoResizeImage(100,100,this)" />
                                    </div>
                                    <div id="eImages2" class="eImages"></div>
                                </div></td>
                        </tr>
                    }
                    if (!string.IsNullOrWhiteSpace(@Model.Image3))
                    {
                        <tr>
                            <td class="td_detail_01">图片附件3</td>
                            <td class="td_detail_02" colspan="3">
                                <div class="imgemp">
                                    <div class="democss">
                                        <img id="img3" src='~/pics/@Model.Image3' class="img_emp_photo" onload="AutoResizeImage(100,100,this)" />
                                    </div>
                                    <div id="eImages3" class="eImages"></div>
                                </div></td>
                        </tr>
                    }
                }

                @if (Convert.ToInt16(@ViewData["JobType"]) == 1)
                {
                    <tr>
                        <td class="td_detail_01">更换业务类型</td>
                        <td class="td_detail_02" colspan="3">
                            @if (@Model.MobileChangeType == 0)
                            {
                                <div>注册手机号</div>
                            }
                            else
                            {
                                <div>银行卡预留手机号</div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="td_detail_01">旧手机号</td>
                        <td class="td_detail_02">
                            @Model.MobilePhoneOld
                        </td>
                        <td class="td_detail_01">新手机号</td>
                        <td class="td_detail_02">
                            @Model.MobilePhoneNew
                        </td>
                    </tr>
                    <tr>
                        <td class="td_detail_01">身份证正面照片</td>
                        <td class="td_detail_02" colspan="3">
                            <div class="imgemp">
                                <div class="democss">
                                    <img id="img1" src='~/pics/@Model.Image1' class="img_emp_photo" onload="AutoResizeImage(100,100,this)" />
                                </div>
                                <div id="eImages1" class="eImages"></div>
                            </div></td>
                    </tr>
                    <tr>
                        <td class="td_detail_01">身份证背面照片</td>
                        <td class="td_detail_02" colspan="3">
                            <div class="imgemp">
                                <div class="democss">
                                    <img id="img2" src='~/pics/@Model.Image2' class="img_emp_photo" onload="AutoResizeImage(100,100,this)" />
                                </div>
                                <div id="eImages2" class="eImages"></div>
                            </div></td>
                    </tr>
                    <tr>
                        <td class="td_detail_01">个人手持身份证照片</td>
                        <td class="td_detail_02" colspan="3">
                            <div class="imgemp">
                                <div class="democss">
                                    <img id="img3" src='~/pics/@Model.Image3' class="img_emp_photo" onload="AutoResizeImage(100,100,this)" />
                                </div>
                                <div id="eImages3" class="eImages"></div>
                            </div></td>
                    </tr>
                    <tr>
                        <td class="td_detail_01">个人手持书写新手机号的A4纸张照片</td>
                        <td class="td_detail_02" colspan="3">
                            <div class="imgemp">
                                <div class="democss">
                                    <img id="img4" src='~/pics/@Model.Image4' class="img_emp_photo" onload="AutoResizeImage(100,100,this)" />
                                </div>
                                <div id="eImages4" class="eImages"></div>
                            </div></td>
                    </tr>
                }

                @if (Convert.ToInt16(@ViewData["JobType"]) == 2)
                {
                    <tr>
                        <td class="td_detail_01">旧银行卡号</td>
                        <td class="td_detail_02">
                            @Model.OldBankcard
                        </td>
                        <td class="td_detail_01">新银行卡号</td>
                        <td class="td_detail_02">
                            @Model.NewBankcard
                        </td>
                    </tr>
                    <tr>
                        <td class="td_detail_01">身份证正面照片</td>
                        <td class="td_detail_02" colspan="3">
                            <div class="imgemp">
                                <div class="democss">
                                    <img id="img1" src='~/pics/@Model.Image1' class="img_emp_photo" onload="AutoResizeImage(100,100,this)" />
                                </div>
                                <div id="eImages1" class="eImages"></div>
                            </div></td>
                    </tr>
                    <tr>
                        <td class="td_detail_01">身份证背面照片</td>
                        <td class="td_detail_02" colspan="3">
                            <div class="imgemp">
                                <div class="democss">
                                    <img id="img2" src='~/pics/@Model.Image2' class="img_emp_photo" onload="AutoResizeImage(100,100,this)" />
                                </div>
                                <div id="eImages2" class="eImages"></div>
                            </div></td>
                    </tr>
                    <tr>
                        <td class="td_detail_01">个人手持身份证照片</td>
                        <td class="td_detail_02" colspan="3">
                            <div class="imgemp">
                                <div class="democss">
                                    <img id="img3" src='~/pics/@Model.Image3' class="img_emp_photo" onload="AutoResizeImage(100,100,this)" />
                                </div>
                                <div id="eImages3" class="eImages"></div>
                            </div></td>
                    </tr>
                    <tr>
                        <td class="td_detail_01">个人手持新银行卡照片</td>
                        <td class="td_detail_02" colspan="3">
                            <div class="imgemp">
                                <div class="democss">
                                    <img id="img4" src='~/pics/@Model.Image4' class="img_emp_photo" onload="AutoResizeImage(100,100,this)" />
                                </div>
                                <div id="eImages4" class="eImages"></div>
                            </div></td>
                    </tr>
                    <tr>
                        <td class="td_detail_01">银行流水或银行相关证明照片</td>
                        <td class="td_detail_02" colspan="3">
                            <div class="imgemp">
                                <div class="democss">
                                    <img id="img5" src='~/pics/@Model.Image5' class="img_emp_photo" onload="AutoResizeImage(100,100,this)" />
                                </div>
                                <div id="eImages5" class="eImages"></div>
                            </div></td>
                    </tr>
                }
                <tr>
                    <td class="td_detail_01">备注</td>
                    <td class="td_detail_02" colspan="3">
                        @Html.TextAreaFor(x => x.CustomerRemark, new { @class = "txt_area", disabled = "disabled" })
                    </td>
                </tr>
                <tr>
                    <td class="td_detail_01">提交时间</td>
                    <td class="td_detail_02">
                        @Model.CreateDateTime
                    </td>
                    <td class="td_detail_01">完成时间</td>
                    <td class="td_detail_02">
                        @Model.OperationDateTime
                    </td>
                </tr>
            </table>
           

                <div class="div_detail_title">处理操作</div>
                <table cellpadding="0" cellspacing="0" class="table_detail">
                    <tr>
                        <td class="td_detail_01">状态</td>
                        <td class="td_detail_02" colspan="3">
                            @*@Html.RadioButtonFor(m => m.Status, 0, new { @class = "st" })处理中*@
                            @Html.RadioButtonFor(m => m.Status, 1, new { @class = "st" })处理完成
                            @Html.RadioButtonFor(m => m.Status, 3, new { @class = "st" })错误
                        </td>
                    </tr>

                    @if (Convert.ToInt16(@ViewData["JobType"]) == 0)
                        {
                        <tr class="err">
                            <td class="td_detail_01">快递单号</td>
                            <td class="td_detail_02">
                                @Html.EditorFor(m => m.ExpressNumber, new { @class = "txt_area" })
                            </td>
                            <td class="td_detail_01">借据号</td>
                            <td class="td_detail_02">
                                @Html.EditorFor(m => m.DueBillNumber, new { @class = "txt_area" })
                            </td>
                        </tr>
                            if (!string.IsNullOrWhiteSpace(@Model.Image4))
                            {
                                <tr class="err">
                                    <td class="td_detail_01">贷款结清单电子版</td>
                                    <td class="td_detail_02" colspan="3">
                                        <div class="imgemp">
                                            <div class="democss">
                                                <input type="hidden" id="oldImage4" name="oldImage4" value="@Model.Image4" />
                                                <img id="img6" src='~/pics/@Model.Image4' class="img_emp_photo" onload="AutoResizeImage(100,100,this)" />
                                            </div>
                                            <div id="eImages6" class="eImages"></div>
                                        </div>
                                    </td>
                                </tr>
                            }
                            <tr class="err">
                                <td class="td_detail_01">贷款结清单电子版</td>
                                <td class="td_detail_02" colspan="3">
                                    <input type="file" id="file" name="file" accept="image/gif,image/jpg,image/jpeg,image/png,image/bmp,image/png,image/pic" maxlength="1" />
                                </td>
                            </tr>
                        }
                    <tr class="err">
                        <td class="td_detail_01">处理描述</td>
                        <td class="td_detail_02" colspan="3">
                            @Html.TextAreaFor(x => x.HandleMessage, new { @class = "txt_area" })
                        </td>
                    </tr>
                    <tr id="joberr" style="display: none;">
                        <td class="td_detail_01">错误信息</td>
                        <td class="td_detail_02" colspan="3">
                            @Html.TextAreaFor(x => x.ErrorMessage, new { @class = "txt_area" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>

            <div class="div_detail_bottom">
                @*@if (Model.Status != 3)
                {*@
                    <input type="button" class="btn_detail_01" id="btnSave" value="保存" />
                @*}*@
                <input type="button" class="btn_detail_back" onclick="javascript: window.location.href ='@Url.Action("JobIndex", "Default", new { JobType = @ViewData["JobType"], Status = ViewData["UrlStatus"] })'" />
            </div>
        </div>
        <div class="line_bottom"></div>
    </form>

</body>
</html>
<script type="text/javascript">

    $(document).ready(function () {

        //if ($("#StatusNew").val() != 0)
        //{
        //    $(".st").each(function () { $(this).attr("disabled", "true"); });
        //}

        if ($('input[type=radio][name=Status]').val() == 3 || $("#StatusNew").val() == 3) {
            $("#joberr").show();
            $(".err").each(function () { $(this).hide(); });
        }


        $('input[type=radio][name=Status]').change(function () {
            if (this.value == 3) {
                $("#joberr").show();
                $(".err").each(function () { $(this).hide(); });
            }
            else {
                $("#joberr").hide();
                $(".err").each(function () { $(this).show(); });
            }
        });
        function getNameFromPath(strFilepath) {
            var objRE = new RegExp(/([^\/\\]+)$/);
            var strName = objRE.exec(strFilepath);

            if (strName == null) {
                return null;
            }
            else {
                return strName[0];
            }
        }
        //验证逻辑
        function check() {

            if ($('input[type=radio][name=Status]:checked').val() != 1 && $('input[type=radio][name=Status]:checked').val() != 3) {
                alert("必须选择处理状态！");
                return false;
            }

            var ErrorMessage = $("#ErrorMessage").val();
            if ($('input[type=radio][name=Status]:checked').val() == 3 && ErrorMessage == '') {
                alert("必须填写错误信息！");
                return false;
            }
            return true;
        };

        $("#btnSave").click(function () {
            if (check()) {
                var detailsUrl = '@Url.Action("JobEditSave")';
                    var uploadFormData = new FormData($('#WaitAcceptEditForm')[0]);//序列化表单，$("form").serialize()只能序列化数据，不能序列化文件
                    $.ajax({
                        type: 'POST',
                        data: uploadFormData,
                        url: detailsUrl,
                        processData: false,
                        contentType: false,
                        async: false,
                        success: function (result) {
                            alert(result.Message);
                            if (result.Code == 200) {
                                window.location.href = '@Url.Action("JobIndex", "Default", new { JobType = @ViewData["JobType"], UrlStatus = ViewData["UrlStatus"] })';
                            }
                        }
                    });
            }
        });

        $(".imgemp").each(function () {
            var eImg = $(this).find(".eImages");
            $(this).find(".img_emp_photo").mousemove(function (e) {
                eImg.css("display", "block");
                eImg.html('<img src="' + this.src + '" onload="AutoResizeImage(500,500,this)" /></div>');
                eImg.css("top", $(document.body).scrollTop() + e.clientY + 10 + "px");
                eImg.css("left", $(document.body).scrollLeft() + e.clientX + 10 + "px");
            });

            $(this).find(".img_emp_photo").mouseout(function (e) {
                eImg.html("");
                eImg.css("display", "none");
            });

            $(this).click(function () {
                window.open($(this).find(".img_emp_photo").attr("src"),'查看图片','top = 0, left = 0, toolbar = no, menubar = no, location = no, status = no');
            });
        })
    });

    function AutoResizeImage(maxWidth, maxHeight, objImg) {
        var img = new Image();
        img.src = objImg.src;
        var hRatio;
        var wRatio;
        var Ratio = 1;
        var w = img.width;
        var h = img.height;
        wRatio = maxWidth / w;
        hRatio = maxHeight / h;
        if (maxWidth == 0 && maxHeight == 0) {
            Ratio = 1;
        } else if (maxWidth == 0) {//
            if (hRatio < 1) Ratio = hRatio;
        } else if (maxHeight == 0) {
            if (wRatio < 1) Ratio = wRatio;
        } else if (wRatio < 1 || hRatio < 1) {
            Ratio = (wRatio <= hRatio ? wRatio : hRatio);
        }
        if (Ratio < 1) {
            w = w * Ratio;
            h = h * Ratio;
        }
        objImg.height = h;
        objImg.width = w;
    }

</script>
